.App .app-container {
  max-width: 650px;
  background: white;
  display: block;
  margin: 70px auto;
  padding: 15px;
  border-radius: 20px;
}
@media (max-width: 760px) {
  .App .app-container {
    text-align: center;
  }
}
